<ion-header>
  <ion-toolbar>
    <ion-title>
      Instruction Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Game</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>* Game will be One Minute of Time with 'n' number of Questions.</p><br/>
          <p>* Click Correct Answers and proceed next question using 'Next' button.</p><br/>
        <ion-button routerLink="/tab2">Game Start</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
